*{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

#logo_nav{
    width: 170px;
    height: 50px;
}

nav{
    margin: 8px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
}

.menu a{
    text-decoration: none;
    color: #002a5a;
    font-weight: 900;
    
}

.menu a:hover{
    text-decoration: underline;
    border-bottom: 2px solid #6ea6d9;
    box-sizing: border-box;
}

#treinamento{
    background-color: #002a5a;
    height: 90vh;  
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#treinamento h2{
    text-align: center;
    color: white;
    margin-bottom: 70px;
}

#treinamento>div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.bloco-treinamentos{
    width: 300px;
    text-align: center;
}

.bloco-treinamentos img{
    width: 80px;
    height: 80px;
    margin-bottom: 7px
}

.bloco-treinamentos h3{
    color: #6ea6d9;
    text-align: center;
    margin-bottom: 10px

}

.bloco-treinamentos p{
    color: white;
    text-align: justify;
}
#clientes{
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;

}
#clientes h2{
    text-align:center;
    font-size: 2rem;    
    color: #002a5a;
    font-weight: bolder;
    padding: 0;
}

#clientes>div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.quadrado{
    width: 200px;
    height: 200px;
}

.retangulo{
    width:300px;
    height: 150px;
}

#logo_legalize{
    border-radius: 10px;
}

#logo_equilibrio{
    border-radius: 10px;
    padding: 2px;
}