*{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

#treinamento{
    background-color: #002a5a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

#treinamento h2{
    text-align: center;
    color: white;
    margin-top: 2.5rem;
    
}

#treinamento>div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.bloco-treinamentos{
    width: 300px;
    text-align: center;
}

.bloco-treinamentos img{
    width: 80px;
    height: 80px;
    margin: 1rem;
}

.bloco-treinamentos h3{
    color: #6ea6d9;
    text-align: center;
    margin-bottom: 10px
    
}

.bloco-treinamentos li{
    color: white;
    text-align: left;
}
#clientes{
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:2rem;
    
    
}
#clientes h2{
    text-align:center;
    font-size: 2rem;    
    color: #002a5a;
    font-weight: bolder;
    margin: 1rem;;
}

#clientes>div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.quadrado{
    width: 200px;
    height: 200px;
    margin: 0.5rem;
}

.retangulo{
    width:300px;
    height: 150px;
    margin: 0.5rem;
}

#logo_legalize{
    border-radius: 10px;
}

#logo_equilibrio{
    border-radius: 10px;
    padding: 2px;
}

@media(min-width:992px){
    *{
        margin: 0px;
        font-family: 'Montserrat', sans-serif;
    }
       
    #treinamento{
        background-color: #002a5a;
        height: 100vh;  
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        
    }
    
    #treinamento h2{
        text-align: center;
        color: white;
        margin-bottom: 70px;
        margin-top: 0;
    }
    
    #treinamento>div{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .bloco-treinamentos{
        width: 300px;
        text-align: center;
    }
    
    .bloco-treinamentos img{
        width: 80px;
        height: 80px;
        margin-bottom: 7px
    }
    
    .bloco-treinamentos h3{
        color: #6ea6d9;
        text-align: center;
        margin-bottom: 10px
        
    }
    
    .bloco-treinamentos li{
        color: white;
        text-align: left;
    }
    #clientes{
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100vh;
        padding-top: 2rem;
        
    }
    #clientes h2{
        text-align:center;
        font-size: 2rem;    
        color: #002a5a;
        font-weight: bolder;
        padding: 0;
    }
    
    #clientes>div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    
    .quadrado{
        width: 200px;
        height: 200px;
        margin:0.5rem 7rem;
    }
    
    .retangulo{
        width:300px;
        height: 150px;
        margin:0.5rem 7rem;
    }
    
    #logo_legalize{
        border-radius: 10px;
    }
    
    #logo_equilibrio{
        border-radius: 10px;
        padding: 2px;
    }
}